*~
*.la
*.lo
*.o

*.diff
*.patch
*.orig
*.rej

.deps
.libs
Makefile
Makefile.in

config/

/aclocal.m4
/autom4te.cache
/configure

/libinotifytools/src/doc
/libinotifytools/src/inotifytools/inotify.h
/libinotifytools/src/inotifytools/stamp-h2

/src/inotifywait
/src/inotifywatch
