*~
*.la
*.lo
*.o

*.diff
*.patch
*.orig
*.rej

.deps
.libs
Makefile
!t/Makefile
Makefile.in

config/

/aclocal.m4
/autom4te.cache
/configure

/libinotifytools/src/doc
/libinotifytools/src/inotifytools/inotify.h
/libinotifytools/src/inotifytools/fanotify.h
/libinotifytools/src/inotifytools/stamp-h2
/libinotifytools/src/inotifytools/stamp-h3

/src/inotifywait
/src/inotifywatch
/src/fsnotifywait
/src/fsnotifywatch

config.h
config.h.in
config.log
config.status
libtool
man/inotifywait.1
man/inotifywatch.1
man/fsnotifywait.1
man/fsnotifywatch.1
stamp-h1
README

libinotifytools/src/test

