*~
*.la
*.lo
*.o

*.diff
*.patch
*.orig
*.rej

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/libinotifytools/src/doc
/libinotifytools/src/inotifytools/inotify.h
/libinotifytools/src/inotifytools/stamp-h2

/src/inotifywait
/src/inotifywatch

