name: build

on: [push, pull_request]

jobs:
  build-1604:

    runs-on: ubuntu-16.04
    
    steps:
    - uses: actions/checkout@v1
    - name: build_and_test
      run: ./build_and_test.sh

  build-1804:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: build_and_test
      run: ./build_and_test.sh

